.wrapper {
    background-color: var(--window-background);
    border-radius: 8px;
    position: absolute;
    left: 10px;
    top: 10px;
    pointer-events: auto;
    transform-origin: top left;
    animation: scale-down 0.2s ease-in-out ;
    /* transform: translateX(-50%); */
}

.wrapper[open] {
    animation: scale-up 0.2s ease-in-out;
}

@keyframes scale-up {
    from {
        transform: scale(0.4);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes scale-down {
    from {
        transform: scale(1.4);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.content,
.title {
    padding: 12px;
    user-select: none;
}

.content {
    padding-top: 0;
}

.params {
    padding-top: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
}

.media {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px;
}

.title {
    cursor: pointer;
    font-weight: 600;
    font-size: 28px;
}

.title::marker {
    content: '';
}

@media screen and (max-width: 600px) {
    .wrapper {
        position: static;
        width: 100%;
        border-radius: 0;
    }
}

.icons {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    align-items: center;
}