.wrapper {
    position: relative;
}

.input {
    appearance: none;
    display: block;
    width: var(--size);
    height: var(--size);
    cursor: pointer;
    outline: 2px solid var(--white);
    border-radius: 50%;
    transition: all 0.2s ease-in-out;
}

.input:checked {
    background-color: var(--primary);
    outline-offset: 2px;
}

.input:hover {
    outline-offset: 2px;
}

.icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 15px;
    height: 15px;
    pointer-events: none;
}