.button {
    display: block;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    cursor: pointer;
    outline: 2px solid var(--white);

    appearance: none;

    border: none;
    background-color: transparent;
}