.button {
  display: grid;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
  place-items: center;
  position: relative;
  outline: 2px solid var(--danger);

  appearance: none;

  border: none;
  background-color: transparent;
  transition: outline-offset 0.2s ease-out;
}

.icon {
  color: var(--danger);
  display: block;
  transform: rotateZ(45deg);

  /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotateZ(45deg);
    width: 15px;
    height: 15px;
    pointer-events: none;
    color: red;
    fill: red; */
}

.button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.button:hover {
  outline-offset: 2px;
}
