.info {
    display: flex;
    position: absolute;
    top: 20px;
    left: 20px;
    gap: 10px;
    flex-direction: column;

    .season, .players, .ended {
        padding: 2px 6px;
        border-radius: 4px;
        color: $white;
    }

    .season {
        background-color: $transparent-blue;
    }

    .players {
        background-color: $transparent-dark;
    }

    .ended {
        background-color: $transparent-dark;
        border: 1px solid $white;
    }
}
