.modal {
    color: $white;
    padding: 20px;
    border-radius: 4px;
    background-color: $transparent-dark;
    position: relative;
    max-width: 400px;
    width: 100%;
    box-sizing: border-box;

    .title {
        margin-bottom: 20px;
        text-align: center;
    }

    .description {
        color: $grey;
    }

    .close {
        position: absolute;
        top: 10px;
        right: 10px;

        button {
            $size: 20px;
            width: $size;
            height: $size;
            border-radius: 50%;
            position: relative;

            &:hover {
                background-color: $transparent-dark;
            }

            &::after {
                content: '';
                position: absolute;
                inset: 0;
                margin: auto;
                display: block;
                pointer-events: none;
                mask: url('../assets/icons/xmark.svg') center / 12px no-repeat;
                -webkit-mask: url('../assets/icons/xmark.svg') center / 12px no-repeat;
                background-color: $white;
            }
        }
    }
}