.palette {
    $size: 25px;
    position: absolute;
    padding: 10px;
    gap: 10px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: $transparent-dark;
    border-radius: 10px;
    inset: auto 0;
    margin: 0 auto;
    bottom: 10px;
    box-sizing: border-box;
    max-width: 100%;
    width: max-content;
    flex-wrap: wrap;


    .color, .new-color, .remove-color {
        width: $size;
        height: $size;
        border-radius: 50%;
    }


    .color {
        &:checked {
            outline: 2px solid $white;
            outline-offset: 2px;
        }

        &:hover {
            opacity: 0.9;
        }
    }

    :where(.new-color, .remove-color)::after {
        content: '';
        position: absolute;
        inset: 0;
        margin: auto;
        display: block;
        pointer-events: none;
        mask: url('../assets/icons/xmark.svg') center / 12px no-repeat;


    }


    .new-color {
        outline: 2px solid $white;
        position: relative;
        overflow: hidden;

        &::after {
            background-color: $white;
            transform: rotateZ(45deg);
        }

        &:hover {
            background-color: #ffffff33;
        }

        input {
            opacity: 0;
            display: block;
            width: $size;
            height: $size;
        }
    }

    .remove-color {
        display: block;
        outline: 2px solid $red;
        position: relative;

        &:hover {
            background-color: #ff000033;
        }

        &::after {
            background-color: $red;
        }
    }
}