.sidebar {
    
    position: absolute;
    top: 20px;
    right: 0;
    display: flex;
    gap: 10px;
    flex-direction: column;
    margin: 0 20px;
    z-index: 999;
    max-width: 400px;
    box-sizing: border-box;
}