// General //
$white: #fff;
$black: #000;
$blue: #0f58a7;
$grey: #dadada;

// Transparent //
$transparent-dark: #000000c5;
$transparent-blue: #053266a2;

// Medals //
$gold: #968210;
$silver: #979797;
$bronze: #916905;

// Status //
$red: #f43a3a;
$green: #00ff00;
$yellow: #ffff00;