.window {
    background-color: var(--window-background);
    border-radius: 8px;
    max-width: 100%;
    pointer-events: auto;

}

.content,
.title {
    padding: 12px;
}

.content {
    padding-top: 0;
}

.title {
    cursor: pointer;
    font-weight: 500;
    font-size: 20px;
}

.title::marker {
    content: '';
}