.window {
    background-color: var(--window-background);
    border-radius: 8px;
    max-width: 100%;
    pointer-events: auto;
    transform-origin: top right;
}

.window[open] {
    animation: windowOpen 0.3s ease-out forwards;
}

.window:not([open]) {
    animation: windowClose 0.5s ease-out forwards;
}

.window[open] .title {
    font-weight: bold;
}

.content,
.title {
    padding: 12px;
    background-clip: border-box;
}

.content {
    padding-top: 0;
}

.title {
    cursor: pointer;
    font-weight: 500;
    font-size: 20px;
    transition: font-weight 0.15s ease-out;
}

.title::marker {
    content: '';
}

@keyframes windowClose {
    0% {
        background-color: var(--window-background-selected);
    }
    100% {
        background-color: var(--window-background);
    }
}

@keyframes windowOpen {
    0% {
        background-color: var(--window-background);
    }
    100% {
        background-color: var(--window-background-selected);
    }
}