.wrapper {
    position: relative;
    display: grid;
    place-items: center;
}

.input {
    appearance: none;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0;
    cursor: pointer;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.3);
}

.input:checked {
    outline: 2px solid #7fd3fb;
    border-radius: 50%;

}