.wrapper {
  background-color: var(--window-background);
  border-radius: 4px;
  padding: 5px 10px;
  /* animation: appear 0.2s ease-in-out forwards; */
}

.empty {
  opacity: 0;
}

.tag::before {
  content: '#';
  color: var(--grey-text);
  margin-inline: 5px;
}

/* @keyframes appear {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
} */
