.notification {
  display: flex;
  /* gap: 10px; */
  background-color: var(--window-background);
  padding: 10px;
  border-radius: 8px;
  flex-direction: column;
  position: relative;
  pointer-events: auto;
  animation: add-notification 0.2s ease-in-out forwards;
}

@keyframes add-notification {
  from {
    opacity: 0;
    transform: translateX(200px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.title {
  font-weight: 50;
  font-size: 20px;
}

.message {
  color: var(--grey-text);
  max-height: 0;
  height: 100%;
  margin: 0;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}

.notification:hover .message {
  max-height: 1lh;
  margin-top: 10px;
}
.success {
  background-color: var(--success);
}

.error {
  background-color: var(--danger);
}

.animate {
  animation: remove-notification 0.2s ease-in forwards;
}

@keyframes remove-notification {
  from {
    opacity: 1;
    transform: translate(0);
  }
  to {
    opacity: 0;
    transform: translateX(200px);
  }
}
