:root {
  --window-background: #000000;
  --window-background-selected: #191919;
  --grey-text: rgba(255, 255, 255, 0.7);
  --primary: #154cb7;
  --danger: #f35151;
  --success: #7ad53e;
  --white: #fff;
  --black: #000;
  --window-background-2: rgba(255, 255, 255, 0.2);
}

body,
html {
  font-family:
    'Montserrat',
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  background-color: var(--window-background);
  overflow: hidden;
}

* {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
