.wrapper {
    position: relative;
    min-height: 100vh;
    z-index: 0;
    text-align: center;
}

.wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
            rgba(0, 0, 0, 0), rgba(0, 0, 0)
    ), url("/images/meta/banner.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: blur(10px);
    z-index: -1;
}

.logo {
    background-color: rgba(0, 0, 0, 0);
    z-index: 2;
    margin-top: 10%;
    width: 25%;
    height: 25%;
    animation: 0.5s ease-out 0s 1 slideInFromLeft;

    @media screen and (max-width: 600px) {
        width: 50%;
        height: 50%;
    }
}

.message {
    z-index: 2;
    font-size: 500%;
    padding: 30px;
    animation: 0.4s ease-out 0s 1 slideInFromLeft;
}

@keyframes slideInFromLeft {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

