.button {
    --background-color: var(--primary);

    background-color: var(--background-color);
    padding: 12px 18px;
    border-radius: 5px;
    font-weight: 600;
    box-shadow: 0px -4px 0px 0px rgba(0, 0, 0, 0.20) inset;
    transition: box-shadow 0.2s;
    text-decoration: none;
    color: inherit;
    display: inline-block;
    pointer-events: auto;
}

.button:hover {
    box-shadow: 0px -1px 0px 0px rgba(0, 0, 0, 0.20) inset;
}

.primary {
    --background-color: var(--primary);
}

.danger {
    --background-color: var(--danger);
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}