.wrapper {
    pointer-events: none;
    height: 100%;
    display: flex;
    inset: 0 0;
    padding: 10px;
    box-sizing: border-box;
    position: absolute;
    flex-direction: column;
}


@media screen and (max-width: 600px) {
    .wrapper {
        padding: 0;
        /* display: flex;
        flex-direction: column; */

        /* left: 0;
        right: 0;
        align-items: flex-end;
        gap: 20px; */
    }
}