<html>

<head>
    <title>Pixel Battle</title>
    <meta charset="UTF-8">
    <meta name="description" content="r/place clone">
    <meta name="keywords" content="place, pixels, r/place, пиксель баттл, реддит плейс, r/place clone, place clone">
    <meta name="language" content="RU">
    <meta name="author" content="elias">
    <meta name="url" content="http://pixelbattle.fun">
    <meta property="og:url" content="http://pixelbattle.fun" />
    <meta property="og:site_name" content="PixelBattle" />
    <link rel="shortcut icon" href="/assets/meta/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
    <div id="palette" class="palette"></div>

    <div class="sidebar">
        <details class="tags">
            <summary class="title">Теги</summary>

            <div class="content">
                <p class="description">У каждого пикселя есть свой тег, они часто используются для указания
                    своей команды. Ниже вы можете видеть список тегов и количество пикселей, а поставить
                    свой тег можно в профиле.
                </p>
                <div id="tags" class="list"></div>
            </div>
        </details>

        <div id="profile" class="profile">

        </div>
    </div>

    <div id="info" class="info"></div>
    <dialog id="modal" class="modal"></dialog>
</body>

</html>