.sidebar {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-end;
    pointer-events: none;
    flex: 1 1 auto;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 8px;
    align-self: flex-end;
}

@media screen and (max-width: 600px) {
    .sidebar {
        position: static;
        box-sizing: border-box;
        padding: 10px;
    }
}