.palette {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* position: absolute;
    bottom: 0;
    right: 50%;
    transform: translateX(50%); */
    gap: 10px;
    background-color: var(--window-background);
    /* border-radius: 8px 8px 0 0; */
    border-radius: 8px;
    padding: 8px 10px;

    --size: 25px;
}

.hr {
    display: block;
    height: var(--size);
    border-radius: 1px;
    width: 2px;
    background-color: var(--white);
    margin: 0;
    border: none;
}

@media screen and (max-width: 600px) {
    .palette {
        gap: 10px;
        flex-direction: column;
        /* align-items: center; */
        /* justify-content: center; */
        /* background-color: red; */
        /* inset: 0 auto; */
        border-radius: 0;
    }

    .hr {
        width: var(--size);
        height: 2px;
    }
}