.window {
  background-color: var(--window-background);
  border-radius: 8px;
  max-width: 100%;
  pointer-events: auto;
  transform-origin: top right;
}

.opened {
  animation: windowOpen 0.75s ease-out forwards;
}

.opened .content {
  animation: windowContentOpen 0.75s ease-out forwards;
}

.closed {
  animation: windowClose 0.75s ease-out forwards;
}

.closed .content {
  animation: windowContentClose 0.75s ease-out forwards;
}

.content,
.title {
  padding: 12px;
  background-clip: border-box;
}

.content {
  padding-top: 0;
  transform-origin: 50% 0;
  overflow: hidden;
  transition: height 0.5s ease;
}

.container {
  padding-top: 10px;
}

.title {
  cursor: pointer;
  font-weight: 500;
  font-size: 20px;
  transition: font-weight 0.15s ease-out;
  display: flex;
  padding-top: 10px;
  padding-bottom: 0;
}

.title::marker {
  content: '';
}

@keyframes windowContentClose {
  0% {
    transform: scaleY(1);
    max-height: 450px;
    max-width: 400px;
    background-color: var(--window-background-selected);
  }
  25% {
    max-height: 0;
  }
  100% {
    transform: scaleY(0);
    max-height: 0;
    max-width: 0;
    background-color: var(--window-background);
  }
}

@keyframes windowContentOpen {
  0% {
    background-color: var(--window-background);
    max-width: 0;
    max-height: 0;
  }
  50% {
    max-height: 0;
    transform: scaleY(0);
  }
  75% {
    max-width: 400px;
    transform: scaleY(1);
  }
  100% {
    background-color: var(--window-background-selected);
    max-height: 450px;
  }
}

@keyframes windowOpen {
  0% {
    background-color: var(--window-background);
  }
  100% {
    background-color: var(--window-background-selected);
  }
}
@keyframes windowClose {
  0% {
    background-color: var(--window-background-selected);
  }
  100% {
    background-color: var(--window-background);
  }
}
