.wrapper {
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "Cooldown Coordinates"
        "Palette Palette";
    align-items: end;
    /* justify-items: end; */

    gap: 5px;
}

.cooldown {
    grid-area: Cooldown;
    justify-self: start;
}

.coordinates {
    grid-area: Coordinates;
    justify-self: end;
}

.palette {
    grid-area: Palette;
}

.notifications {
    /* position: absolute; */
    position: absolute;
    right: 10px;
    bottom: 10px;

}

@media screen and (max-width: 600px) {
    .wrapper {
        left: 0;
        bottom: 0;
        transform: none;
        width: 100%;
    }
}