.color-picker  
  position absolute 
  transform translate(-50%, -100%) 
  left 50% 
  padding 20px 
  background-color $window-background 
  border-radius 8px 
  display flex 
  flex-direction column 
  gap 12px 
 

.color-picker input  
  display block 
  width 100% 
  background-color $window-background-2 
  padding 8px 10px 
  box-sizing border-box 
  border-radius 8px 
 
