.wrapper  
  /* width var(--size) 
    height var(--size) 
    outline 2px solid var(--white) 
    border-radius 50%  */
  position relative

.buttons  
  display flex 
  gap 10px

.button  
  width var(--size) 
  height var(--size) 
  display grid 
  place-items center 
  border-radius 4px
  cursor pointer 
  outline 2px solid $white
  margin 0 
  padding 0 
  transition outline-offset 0.2s ease

.button:hover  
  outline-offset 2px

/* .input  
    opacity 0 
    display block 
    width 100% 
    height 100% 
    cursor pointer

.icon  
    position absolute 
    top 50% 
    left 50% 
    transform translate(-50%, -50%) 
    width 15px 
    height 15px 
    pointer-events none 
  */