.wrapper {
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    gap: 12px;
    padding: 20px;
    border-radius: 5px;
}

.wrapperActive {
    background-color: var(--window-background-2);
}

.input {
    display: none;
}

.or {
    color: var(--grey-text);
}

.label {
    font-weight: bold;
}