.color {
  width: var(--size);
  height: var(--size);
  display: block;
  appearance: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  padding: 10px;
  transition: all 0.1s ease-in;
  animation: appear 0.1s ease-in;
}

@keyframes appear {
  from {
    opacity: 0;
    transform: scale(0.2);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.color:hover {
  outline: 2px solid var(--gray);
}

.color:checked {
  outline: 2px solid var(--white);
  outline-offset: 2px;
}
