name: Build and GH-Page Deploy

on:
  push:
    branches:
      - master

permissions:
  contents: write


jobs:
  build:
    runs-on: ubuntu-latest

    env:
      VITE_DISCORD_BOT_ID: "970714810905936022"
      VITE_DISCORD_BOT_REDIRECT: "https://api.pixelbattle.fun/introduce_yourself"
      VITE_BACKEND: "https://api.pixelbattle.fun"

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          persist-credentials: false

      - name: Use Node.js
        uses: actions/setup-node@v1
        with: 
          node-version: 18.12

      - name: Install
        run: yarn install

      - name: Build
        run: yarn build

      - name: Deploy to GH Page
        uses: JamesIves/github-pages-deploy-action@4.1.1
        with:
          branch: gh-pages
          folder: dist
          single-commit: false
