.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: var(--window-background);
    border-radius: 8px;
    padding: 20px;
    margin: 20px;
}

.title {
    font-size: 24px;
    font-weight: 600;
    text-align: center;

}

.container {
    display: grid;
    place-items: center;
    height: 100vh;
    width: 100vw;
    background-color: rgb(49, 49, 49);
}

.link {
    color: var(--white);
}

.message {
    color: var(--grey-text);
    text-align: center;
    line-height: 1.5;
}