.button {
    background-color: $blue;
    padding: 8px 16px;
    border-radius: 4px;
    color: $white;
    // box-shadow: 0 0 10px #03084680;
}

.button:hover {
    outline: 2px solid $blue;
    outline-offset: 2px;
}